@*@model PostoGasolina.App.ViewModels.AbastecimentoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AbastecimentoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Litragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Litragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLitro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLitro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCombustivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCombustivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbastecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbastecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@